<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logistics.mapper.WareHouseMapper">
    <select id="getWarehouseStockByProductNameAndStatus" resultType="com.logistics.domain.vo.WarehouseStockVo" >
        select id,product_name,sort,stock_quantity,status from warehouse_stock
        <where>
            <if test="productName != null and productName != ''">
               and product_name = #{productName}
            </if>
          <if test="status != null and status != ''">
            and  status = #{status}

          </if>
        </where>
    </select>
    <update id="updateInventory">
        update warehouse_stock
        <set>
           <if test="stockQuantity !=null and stockQuantity != ''">
               stock_quantity = #{stockQuantity},
           </if>
            <if test="status !=null and status != ''">
                status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="getWarehouseLocation" resultType="com.logistics.domain.vo.WarehouseLocationVo">
        select MIN(warehouse_stock.id) as id, warehouse_location
        from warehouse_stock group by warehouse_location;
    </select>
    <select id="getWarehouseStockTransferRecord">
        select operation_time,product_name,warehouse_location,wl.storage_location,wl.change_quantity,wl.status,operator,remark
        from warehouse_stock join logistics.warehouse_log wl on warehouse_stock.id = wl.warehouse_stock_id
        where storage_location is not null
        <if test="id != null and id != ''">
           and  warehouse_stock.id = #{id}
        </if>
        <if test="status != null and status != ''">
            and  wl.status = #{status}
        </if>
    </select>
</mapper>